body {
    background-color: lightcyan;
}

.navbar {
    background-color: #5cb85c;
}

.navbar a {
    color: black;
}

#content {
    margin-top: 60px;
}

#search li {
    display: inline-block;
    margin-top: 8px;
}

#search ul {
    padding-left: 0px;
}

.status {
    border-style: solid;
    border-color: #1b6d85;
    border-radius: 10px;
    border-width: 1px;
    margin-bottom: 10px;
    background-color: white;
    word-wrap: break-word;
}

.status form textarea {
    display: block;
}

.status form {
    display: inline-block;
}

.menu {
    margin-right: 14px;
}

textarea {
    resize: none;
}

.comment {
    margin-left: 10px;
    padding-top: 5px;
}

.commentText {
    background-color: white;
}

.date {
    font-size: 8px;
    color: grey;
}

.comments {
    background-color: #9acfea;
}

.dropdown-menu li form {
    display: none;
}

.username {
    margin-top: 10px;
}

.user {
    margin-top: 10px;
}

.add button {
    clear: left;
}

.messages li {
    padding: 10px 10px 10px 5px;
    margin-bottom: 3px;
    border-radius: 10px;
}

.sendMessage {
    background-color: white;
    float: left;
    clear: both;
}

.receivedMessage {
    background-color: #2aabd2;
    float: right;
    clear: both;
}

.groupInformation {
    word-wrap: break-word;
}

a.groupName {
    text-decoration: none;
    font-size: 30px;
    color: #0f0f0f;
}

.list {
    padding-left: 0px;
    list-style-type: none;
}

.listMember {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.commentContent {
    display: flex;
    align-items: center;
}

p {
    margin-bottom: 0px;
}