<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <form th:action="@{/creategroup}" th:object="${createGroup}" method="post">
                <input class="form-control" type="text" placeholder="Name of group" th:field="*{name}"/>
                <textarea class="form-control" placeholder="Description of group" th:field="*{description}"></textarea>
                <button class="btn btn-primary" type="submit">Create</button>
            </form>
        </div>
    </div>
</body>
</html>