<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="comment">
                <div class="commentContent">
                    <form th:object="${editComment}"
                          th:action="@{'/userprofile/' + ${editComment.userId} + '/editcomment/' + ${editComment.commentId}}"
                          method="post">
                        <p th:text="*{date}"></p>
                        <textarea id="editComment" th:text="*{content}" th:field="*{content}"></textarea>
                        <button class="btn btn-default" type="submit">Done</button>
                    </form>
                    <form th:action="@{'/userprofile/' + ${editComment.userId}}" method="get">
                        <button class="btn btn-default" type="submit">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
