<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head">
</head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <h1 th:if="${privilege}" th:text="${privilege}"></h1>
    <h1 th:if="${sameUser}" th:text="${sameUser}"></h1>
    <h1 th:if="${haveThisFriend}" th:text="${haveThisFriend}"></h1>
    <h1 th:if="${invitationExists}" th:text="${invitationExists}"></h1>
    <h1 th:if="${notAnAdmin}" th:text="${notAnAdmin}"></h1>
    <h1 th:if="${notAMember}" th:text="${notAMember}"></h1>
    <h1 th:if="${messages}" th:text="${messages}"></h1>
    <h1 th:if="${invitation}" th:text="${invitation}"></h1>
    <h1 th:if="${noInvitation}" th:text="${noInvitation}"></h1>
</div>
</body>
</html>
