<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head">
</head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <h1>Friends:</h1>
            <ul class="list">
                <li class="listMember" th:object="${friends}" th:each="friend : ${friends}">
                    <a th:href="@{'/userprofile/' + ${friend.friend.id}}"
                       th:text="${friend.friend.firstName} + ' ' + ${friend.friend.lastName}"></a>
                    <div class="pull-right">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle menu" type="button"
                                    data-toggle="dropdown"><span
                                    class="glyphicon glyphicon-option-horizontal"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="sendMessageTo" th:href="@{'/message/' + ${friend.friend.id}}">Send Message</a>
                                </li>
                                <li th:if="${yourFriends.contains(friend.friend) == true}">
                                    <form class="deleteFriendForm" th:action="@{'/deletefriend/' + ${friend.friend.id}}"
                                          method="post"></form>
                                    <a class="deleteFriend" href="#">Delete from friends</a>
                                </li>
                                <li th:if="${yourFriends.contains(friend.friend) == false and loggedUserid != friend.friend.id}">
                                    <form class="addFriendForm" th:action="@{'/addfriend/' + ${friend.friend.id}}"
                                          method="post"></form>
                                    <a class="addFriend" href="#">Add to friends</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
