<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-3">
            <a th:href="@{/creategroup}">Create group</a>
        </div>
        <div class="col-md-6">
            <div th:if="${groups.size() != 0}">
                <h1>Your groups:</h1>
                <ul class="list" th:object="${groups}">
                    <li class="group" th:each="group : ${groups}">
                        <a class="groupName" th:href="@{'/group/' + ${group.id}}" th:text="${group.name}"></a>
                    </li>
                </ul>
            </div>
            <div th:if="${groups.size() == 0}">
                <p>You aren't member of any group.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
