<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-3">
            <div th:if="${!member}">
                <form th:object="${group}" th:action="@{'/joingroup/' + ${group.id}}" method="post">
                    <button class="btn btn-default" type="submit">Join group</button>
                </form>
            </div>
            <div th:if="${member}">
                <form th:object="${group}" th:action="@{'/leavegroup/' + ${group.id}}" method="post">
                    <button class="btn btn-default" type="submit">Leave group</button>
                </form>
            </div>
            <div>
                <form th:action="@{/groups}">
                    <button type="submit" class="btn btn-default">Groups</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <form id="groupNameForm" th:action="@{'/group/' + ${group.id}}" method="get"></form>
            <a class="groupName" href="#" onclick="document.getElementById('groupNameForm').submit()"
               th:text="${group.name}"></a>
            <h2>Members:</h2>
            <ul class="members" th:object="${members}">
                <li th:each="user : ${members}">
                    <form action="#" th:action="@{'/userprofile/' + ${user.user.id}}" method="get"
                          class="getProfileForm"></form>
                    <a href="#" class="getProfile" th:text="${user.user.firstName + ' ' + user.user.lastName}"></a>
                    <div class="pull-right">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle menu" type="button"
                                    data-toggle="dropdown"><span
                                    class="glyphicon glyphicon-option-horizontal"></span></button>
                            <ul class="dropdown-menu">
                                <li th:if="${isAdmin}">
                                    <form th:action="@{'/deleteuser/' + ${group.id} +  '/' + ${user.user.id}}"
                                          method="post" class="deleteUserForm"></form>
                                    <a href="#" class="deleteUser">Delete from group</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3 groupInformation">
            <h6><b>Group description</b></h6>
            <p th:text="${group.description}"></p>
        </div>
    </div>
</div>
</body>
</html>