<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-3">
            <p>Actions for the group</p>
            <ul class="list">
                <li th:if="${!member}">
                    <form id="joinGroup" th:object="${group}" th:action="@{'/joingroup/' + ${group.id}}"
                          method="post"></form>
                    <a href="#" onclick="document.getElementById('joinGroup').submit()">Join group</a>
                </li>
                <li th:if="${member}">
                    <form id="leaveGroup" th:object="${group}" th:action="@{'/leavegroup/' + ${group.id}}"
                          method="post"></form>
                    <a href="#" onclick="document.getElementById('leaveGroup').submit()">Leave group</a>
                </li>
                <li>
                    <a th:href="@{'/group/' + ${group.id} + '/members'}">Members</a>
                </li>
                <li th:if="${admin}">
                    <a th:href="@{'/group/' + ${group.id} + '/info'}">Change group details</a>
                </li>
            </ul>
            <p>General actions</p>
            <ul class="list">
                <li>
                    <a th:href="@{/groups}">Groups</a>
                </li>
                <li>
                    <a th:href="@{/creategroup}">Create group</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <a class="groupName" th:href="@{'/group/' + ${group.id}}" th:text="${group.name}"></a>
        </div>
        <div class="col-md-3 groupInformation">
            <h6><b>Group description</b></h6>
            <p th:text="${group.description}"></p>
        </div>
    </div>
</div>
</body>
</html>
