<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-3">
            <p>Actions for the group</p>
            <ul class="list">
                <li th:if="${!member}">
                    <form id="joinGroup" th:object="${group}" th:action="@{'/joingroup/' + ${group.id}}"
                          method="post"></form>
                    <a href="#" onclick="document.getElementById('joinGroup').submit()">Join group</a>
                </li>
                <li th:if="${member}">
                    <form id="leaveGroup" th:object="${group}" th:action="@{'/leavegroup/' + ${group.id}}"
                          method="post"></form>
                    <a href="#" onclick="document.getElementById('leaveGroup').submit()">Leave group</a>
                </li>
                <li>
                    <a th:href="@{'/group/' + ${group.id} + '/members'}">Members</a>
                </li>
            </ul>
            <p>General actions</p>
            <ul class="list">
                <li>
                    <a th:href="@{/groups}">Groups</a>
                </li>
                <li>
                    <a th:href="@{/creategroup}">Create group</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <a class="groupName" th:href="@{'/group/' + ${group.id}}" th:text="${group.name}"></a>
            <div class="admins">
                <h2>Admins:</h2>
                <ul class="list" th:object="${members}">
                    <li class="listMember" th:each="user : ${members}" th:if="${user.admin}">
                        <a th:href="@{'/userprofile/' + ${user.user.id}}" class="getProfile"
                           th:text="${user.user.firstName + ' ' + user.user.lastName}"></a>
                        <div class="pull-right">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle menu" type="button"
                                        data-toggle="dropdown"><span
                                        class="glyphicon glyphicon-option-horizontal"></span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="sendMessageTo" th:href="@{'/message/' + ${user.user.id}}">Send Message</a>
                                    </li>
                                    <li th:if="${isAdmin || user.user.id == loggedUserId}">
                                        <form th:action="@{'/deleteuser/' + ${group.id} +  '/' + ${user.user.id}}"
                                              method="post" class="deleteUserForm"></form>
                                        <a th:if="${isAdmin && user.user.id != loggedUserId}" href="#"
                                           class="deleteUser">Delete from group</a>
                                        <a th:if="${user.user.id == loggedUserId}" href="#" class="deleteUser">Leave
                                            group</a>
                                    </li>
                                    <li>
                                        <form th:action="@{'/removeadmin/' + ${group.id} +  '/' + ${user.user.id}}"
                                              method="post" class="removeAdminForm"></form>
                                        <a class="removeAdmin" href="#">Remove admin from user</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="members">
                <h2>Members:</h2>
                <ul class="list" th:object="${members}">
                    <li class="listMember" th:each="user : ${members}" th:if="${!user.admin}">
                        <a th:href="@{'/userprofile/' + ${user.user.id}}" class="getProfile"
                           th:text="${user.user.firstName + ' ' + user.user.lastName}"></a>
                        <div class="pull-right">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle menu" type="button"
                                        data-toggle="dropdown"><span
                                        class="glyphicon glyphicon-option-horizontal"></span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="sendMessageTo" th:href="@{'/message/' + ${user.user.id}}">Send Message</a>
                                    </li>
                                    <li th:if="${isAdmin || user.user.id == loggedUserId}">
                                        <form th:action="@{'/deleteuser/' + ${group.id} +  '/' + ${user.user.id}}"
                                              method="post" class="deleteUserForm"></form>
                                        <a th:if="${isAdmin && user.user.id != loggedUserId}" href="#"
                                           class="deleteUser">Delete
                                            from group</a>
                                        <a th:if="${user.user.id == loggedUserId}" href="#" class="deleteUser">Leave
                                            group</a>
                                    </li>
                                    <li th:if="${isAdmin && !user.admin}">
                                        <form th:action="@{'/makeadmin/' + ${group.id} +  '/' + ${user.user.id}}"
                                              method="post" class="makeAdminForm"></form>
                                        <a class="makeAdmin" href="#">Make admin</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 groupInformation">
            <h6><b>Group description</b></h6>
            <p th:text="${group.description}"></p>
        </div>
    </div>
</div>
</body>
</html>
