<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Hatebook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/external/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/external/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/external/jquery/jquery-3.2.1.js}"></script>
</head>
<body>

</body>
</html>
