<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <h1>Results:</h1>
    <table>
        <tr th:object="${users}" th:each="user : ${users}">
            <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>

            <form action="#" th:action="@{'/userprofile/' + ${user.id}}" method="get">
                <td>
                    <button class="btn btn-default">Profile</button>
                </td>
            </form>
        </tr>
    </table>
</div>
</body>
</html>
