<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head">
</head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="status">
                <div class="statusContent">
                    <p th:text="${receiver.firstName + ' ' + receiver.lastName}"></p>
                    <form th:action="@{'/sendmessage/' + ${receiver.id}}"
                          th:object="${message}" method="post">
                        <textarea id="message" class="form-control" th:field="*{content}" maxlength="3000"></textarea>
                        <button class="btn btn-default" type="submit">Send</button>
                    </form>
                    <form th:action="@{'/userprofile/'}" method="get">
                        <button class="btn btn-default" type="submit">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
