<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <div class="existingUser" th:if="${nonExistingUser == null}">
        <div class="row">
            <div class="col-md-3">
                <form th:action="@{'/friends/' + ${userProfile.id}}">
                    <button type="submit" class="btn btn-default">Friends</button>
                </form>
                <form th:if="${loggedUserId == userProfile.id}" th:action="@{/invitations}">
                    <button type="submit" class="btn btn-default">Invitations</button>
                </form>
                <form th:action="@{'/message/' + ${loggedUserId} + '/' + ${userProfile.id}}">
                    <button type="submit" class="btn btn-default">Send Message</button>
                </form>
            </div>
            <div class="col-md-6">
                <h1 th:text="${userProfile.firstName} + ' ' + ${userProfile.lastName}"></h1>
                <div class="add">
                    <form th:action="@{'/userprofile/' + ${userProfile.id}}" th:object="${add}" method="post">
                        <textarea id="addStatus" rows="4" cols="80" th:field="*{content}"></textarea>
                        <button class="btn btn-default" id="add" type="submit">Add status</button>
                    </form>
                </div>
                <div class="status" th:each="status : ${statuses}">
                    <div class="statusContent">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="username">
                                    <form action="#" th:action="@{'/userprofile/' + ${status.addingUser.id}}"
                                          method="get"
                                          class="getProfileForm"></form>
                                    <a href="#" class="getProfile"
                                       th:text="${status.addingUser.firstName} + ' ' + ${status.addingUser.lastName}">Profile</a>
                                </div>
                            </div>
                            <div class="pull-right">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle menu" type="button"
                                            data-toggle="dropdown"><span
                                            class="glyphicon glyphicon-option-horizontal"></span></button>
                                    <ul class="dropdown-menu">
                                        <li th:if="${loggedUserId} == ${status.addingUser.id}">
                                            <form th:action="@{'/userprofile/' + ${userProfile.id} + '/editstatus/' + ${status.statusId}}"
                                                  method="get" class="edit"></form>
                                            <a href="#" class="editStatus">Edit</a>
                                        </li>
                                        <li th:if="${loggedUserId} == ${status.userId} or ${loggedUserId} == ${status.addingUser.id}">
                                            <form th:action="@{'/userprofile/' + ${userProfile.id} + '/deletestatus/' + ${status.statusId}}"
                                                  method="post" class="delete"></form>
                                            <a href="#" class="deleteStatus">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <p class="date" th:text="${status.date}"></p>
                        <p th:text="${status.content}"></p>
                        <hr/>
                        <div class="comments">
                            <div class="comment" th:each="comment : ${comments}"
                                 th:if="${comment.userStatus.statusId == status.statusId}">
                                <div class="username">
                                    <form action="#" th:action="@{'/userprofile/' + ${status.addingUser.id}}"
                                          method="get"
                                          class="getProfileForm"></form>
                                    <a href="#" class="getProfile"
                                       th:text="${comment.addingUser.firstName} + ' ' + ${comment.addingUser.lastName}">Profile</a>
                                </div>
                                <p class="date" th:text="${comment.date}"></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p th:text="${comment.content}"></p>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle menu" type="button"
                                                    data-toggle="dropdown"><span
                                                    class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <form th:if="${loggedUserId} == ${comment.addingUser.id}"
                                                          th:action="@{'/userprofile/' + ${userProfile.id} + '/editcomment/' + ${comment.commentId}}"
                                                          method="get" class="editCommentForm">
                                                    </form>
                                                    <a href="#" class="editComment">Edit</a>
                                                </li>
                                                <li>
                                                    <form th:if="${loggedUserId} == ${comment.userId} or ${loggedUserId} == ${comment.addingUser.id}"
                                                          th:action="@{'/userprofile/' + ${userProfile.id} + '/deletecomment/' + ${comment.commentId}}"
                                                          method="post" class="deleteCommentForm">
                                                    </form>
                                                    <a href="#" class="deleteComment">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form th:action="@{'/userprofile/' + ${userProfile.id} + '/addcomment/' + ${status.statusId}}"
                                  th:object="${addComment}" method="post">
                        <textarea id="addComment" rows="1" cols="40" placeholder="Add comment"
                                  th:field="*{content}"></textarea>
                                <button class="btn btn-default" id="addCommentBtn" type="submit">Add comment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nonExistingUser" th:if="${nonExistingUser}">
        <h1 th:text="${nonExistingUser}"></h1>
    </div>
</div>
</body>
</html>
